$color_white: #FFFFFF;
$color_gray_1: #8d8d8d;
$color_gray_2: #828282;
$color_primary: #FF2B06;
$color_light: #F2F2F2;
$background-color_1: #010101;
$background-color_2: #f6f6f6;
$background-color_3: #e4e3e3;
$background-color_4: $color_primary;
$background-color_5: transparent;
$background-color_6: #101010;
$border-color_1: transparent transparent #f6f6f6 transparent;
$border-color_2: transparent transparent transparent $color_primary;