@use "./variables/colors";
@use "./variables/fonts";

@import "./components/reset";
@import "./components/about";

@keyframes scale {
	0%,100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

.upcoming-tedx {
	h3 {
		font-family: fonts.$font-family_1;
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.56rem;
		color: colors.$color_white;
		text-align: center;
		padding-bottom: 3.5rem;
	}
	padding-top: 6rem;
	padding-bottom: 6rem;
	.container {
		display: flex;
		flex-direction: column;
	}
	.upcoming-content {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		.upcoming-img {
			justify-content: center;
			align-items: center;
			border-radius: 24px;
			img {
				width: 346px;
				height: 230px;
			}
		}
		.upcoming-text {
			h4 {
				font-family: fonts.$font-family_1;
				font-style: normal;
				font-weight: 700;
				font-size: 1.55rem;
				line-height: 2.25rem;
				color: colors.$color_white;
			}
			display: flex;
			flex-direction: column;
			p {
				font-family: fonts.$font-family_1;
				font-style: normal;
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.2rem;
				color: colors.$color_gray_2;
				max-width: 526px;
				text-align: justify;
				margin-top: 0;
				&:nth-child(3) {
					font-family: fonts.$font-family_1;
					font-style: normal;
					font-weight: 700;
					font-size: 1rem;
					line-height: 1.2rem;
					color: colors.$color_white;
				}
				&:last-child {
					font-family: fonts.$font-family_1;
					font-style: normal;
					font-weight: 700;
					font-size: 1rem;
					line-height: 1.2rem;
					color: colors.$color_white;
				}
			}
		}
	}
}
.speakers {
	h4 {
		font-family: fonts.$font-family_1;
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.56rem;
		color: colors.$color_white;
		text-align: center;
		padding-bottom: 3.5rem;
	}
	padding-top: 6rem;
	padding-bottom: 6rem;
	.container {
		display: flex;
		flex-direction: column;
		padding: 0 5rem;
	}
	.speakers-slide {
		display: grid;
		gap: 1rem;
		justify-content: center;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
	}
}
.sponsors {
	h5 {
		font-family: fonts.$font-family_1;
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.56rem;
		color: colors.$color_white;
		text-align: center;
		padding-bottom: 3.5rem;
	}
	padding-top: 6rem;
	padding-bottom: 6rem;
	margin-bottom: 6rem;
	.sponsors-list {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
		justify-items: center;
		img {
			width: 90px;
			height: 90px;
		}
	}
}
header {
	padding: 20px;
	.header-container {
		margin: 0 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		width: 200px;
		height: 100px;
	}
	.navbar-menu {
		ul {
			display: none;
			li {
				padding: 15px;
				a {
					color: colors.$color_white;
				}
			}
		}
		.menu-toggle {
			width: 30px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			cursor: pointer;
			span {
				height: 2px;
				background-color: colors.$background-color_2;
				margin-bottom: 5px;
				&:first-child {
					width: 100%;
				}
				&:nth-child(2) {
					width: 60%;
					transition: .3s;
				}
				&:last-child {
					width: 100%;
				}
			}
		}
	}
}
.nav-bullets {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	z-index: 1000;
	.bullet {
		width: 20px;
		height: 20px;
		border: 3px solid var(--primary-color);
		margin: 20px auto;
		border-radius: 50%;
		cursor: pointer;
		position: relative;
		&:hover {
			.tooltip {
				display: block;
			}
		}
		.tooltip {
			padding: 8px 10px;
			right: 32px;
			top: -10px;
			color: colors.$color_white;
			position: absolute;
			background-color: colors.$background-color_4;
			width: 100px;
			text-align: center;
			display: none;
			&::before {
				content: '';
				border-style: solid;
				border-width: 10px;
				border-color: colors.$border-color_2;
				height: 0;
				width: 0;
				position: absolute;
				right: -20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
.landing {
	padding-top: 6rem;
	padding-bottom: 6rem;
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.intro-text {
		display: flex;
		flex-direction: column;
	}
}
.intro-text {
	h1 {
		flex-wrap: nowrap;
		font-family: fonts.$font-family_1;
		font-style: normal;
		font-weight: 700;
		font-size: 3rem;
		line-height: 3.8rem;
		color: colors.$color_white;
		margin-top: 5rem;
		max-width: 100%;
	}
	p {
		font-family: fonts.$font-family_1;
		width: 70%;
		font-style: normal;
		font-weight: 400;
		font-size: 1rem;
		line-height: 180%;
		color: colors.$color_gray_2;
		max-width: 100%;
		text-align: justify;
	}
	.btn {
		width: 180px;
		height: 48px;
		color: colors.$color_primary;
		background-color: colors.$background-color_5;
		font-style: normal;
		font-weight: 500;
		font-size: 1rem;
		line-height: 180%;
		border: 1px solid var(--primary-color);
		margin-top: 2rem;
		border-radius: 2rem;
		cursor: pointer;
	}
}
.intro-vector {
	img {
		width: 400px;
		height: 424px;
		animation: scale 3s ease-in-out infinite;
	}
}
.speakers-slide {
	.speaker-1 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		img {
			width: 160px;
			height: 160px;
			border: 4px solid rgba(255, 43, 6, 0.6);
			box-shadow: 0px 18px 50px -15px rgba(0, 0, 0, 0.22);
			border-radius: 30px;
		}
		p {
			color: colors.$color_white;
			margin: .2rem;
			&:last-of-type {
				color: colors.$color_primary;
			}
		}
	}
	.speaker-2 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		img {
			width: 160px;
			height: 160px;
			border: 4px solid rgba(255, 43, 6, 0.6);
			box-shadow: 0px 18px 50px -15px rgba(0, 0, 0, 0.22);
			border-radius: 30px;
		}
		p {
			color: colors.$color_white;
			margin: .2rem;
			&:last-of-type {
				color: colors.$color_primary;
			}
		}
	}
	.speaker-3 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		img {
			width: 160px;
			height: 160px;
			border: 4px solid rgba(255, 43, 6, 0.6);
			box-shadow: 0px 18px 50px -15px rgba(0, 0, 0, 0.22);
			border-radius: 30px;
		}
		p {
			color: colors.$color_white;
			margin: .2rem;
			&:last-of-type {
				color: colors.$color_primary;
			}
		}
	}
	.speaker-4 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		img {
			width: 160px;
			height: 160px;
			border: 4px solid rgba(255, 43, 6, 0.6);
			box-shadow: 0px 18px 50px -15px rgba(0, 0, 0, 0.22);
			border-radius: 30px;
		}
		p {
			color: colors.$color_white;
			margin: .2rem;
			&:last-of-type {
				color: colors.$color_primary;
			}
		}
	}
	.speaker-5 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		img {
			width: 160px;
			height: 160px;
			border: 4px solid rgba(255, 43, 6, 0.6);
			box-shadow: 0px 18px 50px -15px rgba(0, 0, 0, 0.22);
			border-radius: 30px;
		}
		p {
			color: colors.$color_white;
			margin: .2rem;
			&:last-of-type {
				color: colors.$color_primary;
			}
		}
	}
	.social-icons {
		color: colors.$color_white;
	}
}
footer {
	background-color: colors.$background-color_6;
	height: 350px;
	padding-top: 3rem;
	.container {
		display: grid;
		justify-content: space-evenly;
	}
	.footer-content {
		display: flex;
		.footer-div {
			justify-content: space-between;
			padding: 2rem;
		}
		h2 {
			font-family: fonts.$font-family_1;
			font-style: normal;
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 1.5rem;
			color: colors.$color_primary;
		}
		ul {
			padding: 0;
			li {
				font-family: fonts.$font-family_1;
				font-style: normal;
				font-weight: 500;
				font-size: 1rem;
				line-height: 1.2rem;
				color: colors.$color_light;
				padding: .5rem .5rem .5rem 0;
			}
		}
		p {
			font-family: fonts.$font-family_1;
			font-style: normal;
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.2rem;
			color: colors.$color_light;
			padding: .5rem .5rem .5rem 0;
			padding-top: 0;
		}
		.footer-social-links {
			i {
				color: colors.$color_light;
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}
@media (max-width:676px) {
	.container {
		width: calc(100% + 10px);
		transition: 0.3s;
		align-items: center;
	}
}
@media (min-width:768px) {
	.container {
		width: 750px;
		transition: 0.3s;
	}
	.landing {
		.container {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transition: 0.3s;
		}
	}
	.intro-text {
		h1 {
			text-align: center;
		}
		p {
			width: 100%;
		}
		.btn {
			align-self: center;
			margin-bottom: 4rem;
		}
	}
	.about-tedx {
		.about-text {
			justify-content: center;
			align-items: center;
			transition: .3s;
			p {
				max-width: 80%;
				justify-self: center;
			}
		}
		.about-img {
			justify-self: center;
			img {
				height: 100%;
				justify-self: center;
			}
		}
	}
	.upcoming-tedx {
		.upcoming-content {
			.upcoming-text {
				margin-left: 1rem;
				.first {
					margin: .5rem 0;
				}
			}
			.upcoming-img {
				margin-right: 15px;
			}
		}
	}
	footer {
		.footer-content {
			.footer-div {
				min-width: 100px;
				padding: 1rem;
			}
			h2 {
				font-size: .8rem;
			}
			ul {
				li {
					font-size: .8rem;
				}
			}
			p {
				font-size: .8rem;
			}
		}
	}
}
@media (min-width:992px) {
	.container {
		width: 970px;
		transition: 0.3s;
	}
	header {
		.navbar-menu {
			.menu-toggle {
				display: none;
			}
			ul {
				display: flex;
				flex-direction: row;
				li {
					&:hover {
						background-color: colors.$background-color_4;
						border-radius: 10px;
					}
				}
			}
		}
	}
	.landing {
		.container {
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			transition: 0.3s;
		}
	}
	.intro-text {
		p {
			width: 80%;
		}
	}
	.about-tedx {
		.about-text {
			gap: 1rem;
			p {
				padding-right: .5rem;
			}
		}
		.about-img {
			img {
				align-self: flex-start;
			}
		}
	}
	.upcoming-tedx {
		.upcoming-content {
			.upcoming-text {
				.first {
					margin: .5rem 0;
					flex-wrap: wrap;
					width: 90%;
				}
			}
		}
	}
	footer {
		.footer-content {
			.footer-div {
				justify-content: space-between;
				padding: 3.5rem;
			}
			h2 {
				font-size: 1rem;
			}
		}
	}
	ul {
		li {
			font-size: 1rem;
		}
	}
	p {
		font-size: 1rem;
	}
}
@media (min-width:1200px) {
	.container {
		width: 1170px;
		transition: 0.3s;
	}
	.landing {
		.container {
			justify-content: space-between;
			transition: 0.3s;
		}
	}
	.intro-text {
		h1 {
			align-self: flex-start;
		}
		p {
			width: 80%;
		}
	}
}
@media (max-width:991px) {
	header {
		.navbar-menu {
			position: relative;
			&:hover {
				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 0;
					padding: 0;
					background-color: colors.$background-color_2;
					position: absolute;
					min-width: 200px;
					transform: translate(-170px, 15px);
				}
				.menu-toggle {
					span {
						&:nth-child(2) {
							width: 100%;
						}
					}
				}
			}
			ul {
				&::before {
					content: "";
					position: absolute;
					border-width: 10px;
					border-color: colors.$border-color_1;
					border-style: solid;
					transform: translate(85px,-20px);
				}
				li {
					width: 100%;
					text-align: left;
					cursor: pointer;
					&:not(:last-child) {
						border-bottom: 1px solid #e4e3e3;
					}
					&:hover {
						background-color: colors.$background-color_3;
						padding-left: 25px;
					}
					a {
						color: colors.$color_gray_1;
						transition: 0.3s;
					}
				}
			}
		}
	}
}
@media (max-width:767px) {
	.landing {
		padding: 2rem 1rem;
		.container {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			transition: 0.3s;
		}
		.intro-text {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: 0.3s;
		}
	}
	.intro-text {
		h1 {
			font-size: 2.2rem;
			line-height: 3rem;
			white-space: nowrap;
		}
		p {
			width: 100%;
		}
		.btn {
			margin-bottom: 2rem;
		}
	}
	.intro-vector {
		img {
			width: 100%;
			height: 100%;
		}
	}
	.about-tedx {
		.about-text {
			justify-content: center;
			align-items: center;
			transition: .3s;
			p {
				margin-bottom: 2rem;
				padding: 0 2rem;
				width: 100%;
			}
		}
		.about-img {
			justify-self: center;
			img {
				width: 100%;
				height: 100%;
				justify-content: center;
				align-self: center;
			}
		}
	}
	.upcoming-tedx {
		.upcoming-content {
			flex-direction: column;
			justify-content: center;
			width: 90%;
			.upcoming-img {
				width: 60%;
				align-self: center;
				img {
					width: 100%;
				}
			}
			.upcoming-text {
				text-align: center;
				p {
					&:not(.first) {
						text-align: center;
					}
					.first {
						width: 70%;
						margin: 2rem;
					}
				}
			}
		}
	}
	footer {
		.footer-content {
			padding: 1rem;
			flex-wrap: wrap;
			justify-content: flex-start;
			.footer-div {
				align-self: flex-start;
				justify-content: space-evenly;
			}
		}
	}
}
@media (min-width:1192px) {
	.about-tedx {
		.about-text {
			p {
				max-width: 100%;
			}
			gap: 5rem;
		}
	}
}
