header {
	padding: 20px;
	.header-container {
		margin: 0 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		width: 200px;
		height: 100px;
	}
	.navbar-menu {
		ul {
			display: none;
			li {
				padding: 15px;
				a {
					color: colors.$color_white;
				}
			}
		}
		.menu-toggle {
			width: 30px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			cursor: pointer;
			span {
				height: 2px;
				background-color: colors.$background-color_2;
				margin-bottom: 5px;
				&:first-child {
					width: 100%;
				}
				&:nth-child(2) {
					width: 60%;
					transition: .3s;
				}
				&:last-child {
					width: 100%;
				}
			}
		}
	}
}